@function px2rem($pxValue) {
  @return $pxValue / $rem * 1rem;
}

@mixin forPC() {
  @media (min-width: $boundary) {
    @content;
  }
}

@mixin forSP() {
  @media (max-width: $boundary - 1px) {
    @content;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin cross($width, $color) {
  position: relative;
  width: px2rem($width);
  height: px2rem($width);
  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: px2rem($width);
    border-top: 1px solid $color;
  }

  &::before {
    background: $color;
    transform: skewY(45deg);
  }

  &::after {
    background: $color;
    transform: skewY(-45deg);
  }
}
