%type__proto {
  font-weight: normal;
  line-height: 1;
  font-feature-settings: 'palt';
}

@mixin type-normal {
  @extend %type__proto;
  font-size: 1rem;
}

@mixin type-xsmall {
  @extend %type__proto;
  font-size: px2rem(12);
}

@mixin type-small {
  @extend %type__proto;
  font-size: px2rem(14);
}

@mixin type-title {
  @extend %type__proto;
  font-size: px2rem(20);
}

@mixin type-heading {
  @extend %type__proto;
  font-size: px2rem(24);
}

@mixin type-large {
  @extend %type__proto;
  font-size: 3rem;
}

@mixin type-xlarge {
  @extend %type__proto;
  font-size: 4rem;
}
