$rem: 16;
$boundary: 800px; // Tablet
$font-family-latin: system-ui, -apple-system, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif;
$font-family-ja: 'Yu Gothic', YuGothic, Meiryo, sans-serif;

$color-black: #000;
$color-gray: #696969;
$color-gray-light: #EFEFEF;
$color-gray-lighter: #eee;
$color-white: #fff;

$color-theme: #DB3C2C;
$color-sky: #87CEFA;

$color-text: $color-gray;
$color-text-light: $color-gray-light;
$color-text-lighter: $color-gray-lighter;
$color-background: $color-white;
